#beta {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  color: #fff;
  font-size: 25px;
  background: transparent url(../img/beta.png) no-repeat left top;
  width: 90px;
  height: 60px;
  text-indent: -99999px;
}
.vojo-callin {
  color: #fff;
  float: left;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 3px;
}
.region-header /* Wrapper for any blocks placed in the header region */ {
  float: right;
  clear: none !important;
  margin-top: 20px;
}
#vojo-site-header {
  background-color: #333;
  padding: 2px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 30px;
}
#vojo-user-links,
#vojo-user-links a {
  color: #eee;
}
#vojo-user-links a:hover {
  color: #f1941e;
}
#vojo-user-menu {
    float: right;
}
#vojo-user-links {
    margin: 0px;
}
#vojo-user-links span {
  text-transform: capitalize;
  box-shadow: inset 2px 2px 5px #000;
  border-radius: 12px;
  padding: 5px 20px 5px 12px;
  background: url(../img/downarrow.png) no-repeat right 10px;
  cursor: pointer;
  cursor: hand;
}
#vojo-user-links ul {
  padding: 0;
  margin: 0;
}
#vojo-user-links li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

/* Style dropdown menu */
#vojo-user-links .menu-parent {
  position: relative;
  padding: 5px;
}
#vojo-user-links .menu-parent .submenu {
  position: absolute;
  left: -9999px;
  top: 25px;
  z-index: 400;
  width: 180px;
  float: left;
  display: block;
  background-color: #333;
}
#vojo-user-links .menu-parent:hover .submenu {
  top: 25px;
  right: 0;
  left: auto;
  margin: 0;
}
#vojo-user-links .menu-parent .submenu li {
  float: none;
  display: block;
  margin: 0;
}
#vojo-user-links .menu-parent .submenu li a {
  background-image: none;
  display: block;
  text-indent: 0;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
  padding: 5px 10px;
  border-top: #666 solid 1px;
  text-align: left;
  height: auto;
  width: auto;
}
#vojo-user-links .menu-parent .submenu li:first-child a {
  border-top: none;
}
#vojo-user-links .menu-parent .submenu li a:hover,
#vojo-user-links .menu-parent .submenu li a.active {
  color: #3EA9F5;
  text-decoration: none;
  width: auto;
}

/* Login link */
a#vojo-login-link {
}
a#vojo-login-link,
a#vojo-login-link:visited {
  color: #eee;
}
a#vojo-login-link:hover {
}
#vojo-login-link {
  margin-top: 20px;
}
#vojo-logo /* Wrapping link for logo */ {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  float: left;
}
