#beta {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  color: #fff;
  font-size: 25px;
  background: transparent url(../img/beta.png) no-repeat left top;
  width: 90px;
  height: 60px;
  text-indent: -99999px;
}

#vojo-site-header {
  background-color: #333;
  padding: 2px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 30px;
}

.vojo-header-menu {
    float: right;
}

.vojo-header-links,
.vojo-header-links a {
  color: #eee;
}
.vojo-header-links a:hover {
  color: #f1941e;
}
.vojo-header-links {
    margin: 0px;
}
.vojo-header-links span {
  text-transform: capitalize;
  box-shadow: inset 2px 2px 5px #000;
  border-radius: 12px;
  padding: 5px 20px 5px 12px;
  background: url(../img/downarrow.png) no-repeat right 10px;
  cursor: pointer;
  cursor: hand;
}
.vojo-header-links ul {
  padding: 0;
  margin: 0;
}
.vojo-header-links li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

/* Style dropdown menu */
.vojo-header-links .menu-parent {
  position: relative;
  padding: 5px;
}
.vojo-header-links .menu-parent .submenu {
  position: absolute;
  left: -9999px;
  top: 25px;
  z-index: 400;
  width: 180px;
  float: left;
  display: block;
  background-color: #333;
}
.vojo-header-links .menu-parent:hover .submenu {
  top: 25px;
  right: 0;
  left: auto;
  margin: 0;
}
.vojo-header-links .menu-parent .submenu li {
  float: none;
  display: block;
  margin: 0;
}
.vojo-header-links .menu-parent .submenu li a {
  background-image: none;
  display: block;
  text-indent: 0;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
  padding: 5px 10px;
  border-top: #666 solid 1px;
  text-align: left;
  height: auto;
  width: auto;
}
.vojo-header-links .menu-parent .submenu li:first-child a {
  border-top: none;
}
.vojo-header-links .menu-parent .submenu li a:hover,
.vojo-header-links .menu-parent .submenu li a.active {
  color: #3EA9F5;
  text-decoration: none;
  width: auto;
}

/* Login link */
a#vojo-login-link {
}
a#vojo-login-link,
a#vojo-login-link:visited {
  color: #eee;
}
a#vojo-login-link:hover {
}
#vojo-login-link {
  margin-top: 20px;
}
#vojo-logo /* Wrapping link for logo */ {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  float: left;
}

/** language switcher **/

.block-locale,
.pane-locale-0 {
    margin: 0em;
    padding: 0em;
}

#vojo-site-header .block-locale {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.block-locale h2,
.pane-locale-0 h2 {
    display: none;
}
.block-locale ul,
.pane-locale-0 ul {
    display: inline-block;
    padding: 0.1em 0.5em 0.25em 0.5em;
    margin: 0em;
    margin-bottom: 0.5em;
   /* background-color: rgb(41,128,215); 
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;    */
    list-style-type: none;
}
.block-locale ul li,
.pane-locale-0 ul li {
    display: inline-block;
}
.block-locale ul li.first,
.pane-locale-0 ul li.first {
  /*  border-right: 1px solid rgb(1,88,175); */
    padding-right: 0.5em;
}
.block-locale ul li a,
.pane-locale-0 ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
}
.block-locale ul li.active a,
.pane-locale-0 ul li.active a {
    font-weight: bold;
}

.empty-media-msg {
  
}
